<h4> Product <%= @product.name %></h4>
<p> Price <%= @product.price %></p>
<p> Description <%= @product.description %></p>
<p> Category <%= @product.category %></p>
<%= link_to 'Update', edit_product_path(@product) %> 
